.comment {
  position: relative;
  width: 100%;
  float: left;
  margin-top: 10px;
  text-align: left;
}

.button {
   cursor: pointer;
   width: fit-content;
   color: blue;
   float: right;
   margin-right: 10px;
}
