.border {
  border: 2px solid black;
  float: left;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
}

.button {
   cursor: pointer;
   color: blue;
   float: right;
   margin-right: 10px;
}
